* {
    font-family: sans-serif;
}

html, body {
    margin: 0;
}

#wrapper {
    background-color: #eeeeee;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    background-color: #333;
    color: white;
    font-size: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 50;
    padding: 10px;
}

#main-container {
    background-color: #eee;
    flex: 1;
    display: flex;
    flex-direction: row;
}

#main-container .config {
    background-color: #5599ff;
    flex-basis: 500px;
    overflow-y: auto;
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
}

#main-container .config::-webkit-scrollbar { 
    display: none;
}

#main-container .viewer {
    background-color: #ff9988;
    flex: 1;
}


#footer {
    background-color: #333;
    flex-basis: 50px;
}

.config .setting {
    background-color: rgb(50, 60, 68);
    margin: 10px;
    padding: 20px;
    color: white;
    text-align:center;
    transition: all 0.2s ease;
    cursor: pointer;
    user-select: none;
}

.config .setting.expanded {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding-bottom: 400px;
}

#HUD {
    position: fixed;
    left: 0;
    right: 0;
    font-family: sans-serif;
    font-size: 20px;
    z-index: 90;
    width: 50%;
    padding: 5px;
}

#instruments {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    max-width: 1000px;
}

.slider-wrapper {
    display: inline-block;
    width: 20px;
    height: 150px;
    padding: 5px;
  }

input[type=range]#thrustSlider
{
    width: 150px;
    height: 20px;
    margin: 0;
    transform-origin: 75px 75px;
    transform: rotate(-90deg);
}

input[type=range]#elevatorSlider
{
    width: 150px;
    height: 20px;
    margin: 0;
}

#optionsWrapper {
    position: fixed;
    right: 0;
    top: 0;
    overflow: hidden;
    display: flex;
    z-index: 50;
    height: 100vh;
}

#options {
    overflow: hidden;
    margin: 0;
    width: 0px;
    padding: 0;
    background-color: aliceblue;
    height: 100%;
    z-index: 100;
    transition: all 0.2s;
    font-size: 18px;
}

#options.expanded {
    width: 400px;
}

#optionsinner {
    margin: 5px
}

.optionblock {
    display: flex;
    padding-top: 10px;
}

.optionblock .optionText {
    flex: 1;
    font-size: 18px;
}

.optionblock input[type=number] {
    padding: 5px;
    width: 40%;
}

#toggleOptions {
    background-color: aliceblue;
}

#instructions {
    font-size: 16px;
}

#largemsg {
    position: fixed;
    margin: 5% auto; /* Will not center vertically and won't work in IE6/7. */
    left: 0;
    right: 0;
    z-index: 50;
    text-align: center;
    font-size: 40px;
}


/* Hamburger button */

.hamburger {
    padding: 15px 15px;
    display: inline-block;
    cursor: pointer;
    transition-property: opacity, filter;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    font: inherit;
    color: #333;
    text-transform: none;
    background-color: transparent;
    border: 0;
    margin: 0;
    overflow: visible;
    opacity: 0.6;
}

.hamburger:hover {
    opacity: 1;
}

.hamburger.is-active:hover {
    opacity: 1;
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
    background-color: #000;
}

.hamburger-box {
    width: 40px;
    height: 24px;
    display: inline-block;
    position: relative;
}

.hamburger-inner {
    display: block;
    top: 50%;
    margin-top: -2px;
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
    width: 40px;
    height: 4px;
    background-color: #000;
    border-radius: 4px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease;
}

.hamburger-inner::before,
.hamburger-inner::after {
    content: "";
    display: block;
}

.hamburger-inner::before {
    top: -10px;
}

.hamburger-inner::after {
    bottom: -10px;
}

.hamburger--squeeze .hamburger-inner {
    transition-duration: 0.075s;
    transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--squeeze .hamburger-inner::before {
    transition: top 0.075s 0.12s ease, opacity 0.075s ease;
}

.hamburger--squeeze .hamburger-inner::after {
    transition: bottom 0.075s 0.12s ease, transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--squeeze.is-active .hamburger-inner {
    transform: rotate(45deg);
    transition-delay: 0.12s;
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.hamburger--squeeze.is-active .hamburger-inner::before {
    top: 0;
    opacity: 0;
    transition: top 0.075s ease, opacity 0.075s 0.12s ease;
}

.hamburger--squeeze.is-active .hamburger-inner::after {
    bottom: 0;
    transform: rotate(-90deg);
    transition: bottom 0.075s ease, transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
}


/* toggle */

.tgl {
    display: none;
  }
  .tgl, .tgl:after, .tgl:before, .tgl *, .tgl *:after, .tgl *:before, .tgl + .tgl-btn {
    box-sizing: border-box;
  }
  .tgl::-moz-selection, .tgl:after::-moz-selection, .tgl:before::-moz-selection, .tgl *::-moz-selection, .tgl *:after::-moz-selection, .tgl *:before::-moz-selection, .tgl + .tgl-btn::-moz-selection {
    background: none;
  }
  .tgl::selection, .tgl:after::selection, .tgl:before::selection, .tgl *::selection, .tgl *:after::selection, .tgl *:before::selection, .tgl + .tgl-btn::selection {
    background: none;
  }
  .tgl + .tgl-btn {
    outline: 0;
    display: block;
    width: 4em;
    height: 2em;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
  .tgl + .tgl-btn:after, .tgl + .tgl-btn:before {
    position: relative;
    display: block;
    content: "";
    width: 50%;
    height: 100%;
  }
  .tgl + .tgl-btn:after {
    left: 0;
  }
  .tgl + .tgl-btn:before {
    display: none;
  }
  .tgl:checked + .tgl-btn:after {
    left: 50%;
  }
  
  .tgl-light + .tgl-btn {
    background: #f0f0f0;
    border-radius: 2em;
    padding: 2px;
    transition: all 0.4s ease;
  }
  .tgl-light + .tgl-btn:after {
    border-radius: 50%;
    background: #fff;
    transition: all 0.2s ease;
  }
  .tgl-light:checked + .tgl-btn {
    background: #9fd6ae;
  }
  