<!DOCTYPE html>
<html>
<head>
	<!--<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
    <script src="{{url_for('static', filename='js/builder.js')}}", type="module"></script>
    -->
    <link rel="stylesheet" href="../static/style.css">
    <script src="../static/lib/jquery.min.js"></script>
    <script src="../static/js/builder.js"></script>
    <script src="../static/lib/pixi.min.js"></script>
    <title>Plane builder</title>
</head>
<body>
	<div id="wrapper">
        <div class="header">Plane builder</div>
        <div id="main-container">
            <div class="config">
                <div class="setting fuselage">Fuselage</div>
                <div class="setting wings">Wings</div>
                <div class="setting control">Control surfaces</div>
                <div class="setting engine">Engines</div>
                <div class="setting Extra">Extra</div>
            </div>
            <div class="viewer"></div>
        </div>
        <div id="footer"></div>
    </div>
</body>
</html>

