<!DOCTYPE html>
<html>
<head>
	<!--<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
    <script src="{{url_for('static', filename='lib/jquery.min.js')}}"></script>
    <script src="{{url_for('static', filename='lib/matter.js')}}"></script>
    <script src="{{url_for('static', filename='lib/pixi.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/game.js')}}" type="module"></script>-->
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <script src="../static/lib/jquery.min.js"></script>
    <script src="../static/lib/jquery.flightindicators.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/css/flightindicators.min.css">
    <script src="../static/lib/pixi.min.js"></script>
    <script src="../static/lib/pixi-particles.min.js"></script>
    <script src="../static/js/game.js" type="module"></script>
	<title>Plane</title>
</head>
<body>
    <div id="HUD">
        Speed: <span id="speed"></span> <br>
        Altitude: <span id="altitude"></span> <br>
        Lift: <span id="lift"></span> <br>
        VSpeed: <span id="vSpeed"></span> <br>
        Acc: <span id="acc"></span> <br>
        Thrust: <span id="thrust"></span> <br>
        Elevator: <span id="elevator"></span>
        
    </div>
    <div id="instruments">
        <span id="attitude"></span>
        <span id="heading"></span>
        <span id="variometer"></span>
        <span id="airspeed"></span>
        <span id="altimeter"></span>
        <input type="range" id="thrustSlider" min="0" max="1" value="0" step="0.001"/>
    </div>

    <div id="options">hello world</div>
</body>
</html>

