<!DOCTYPE html>
<html>
<head>
    <!-- for python/flask -->
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}">
    <link rel="shortcut icon" href="{{url_for('static', filename='favicon.png')}}" />
    <script src="{{url_for('static', filename='lib/jquery.min.js')}}"></script>
    <script src="{{url_for('static', filename='lib/jquery.flightindicators.js')}}"></script>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/flightindicators.min.css')}}">
    <script src="{{url_for('static', filename='lib/pixi.min.js')}}"></script>
    <script src="{{url_for('static', filename='lib/pixi-particles.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/game.js')}}" type="module"></script>
    
    <!-- static website -->
    <!--<link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <link rel="shortcut icon" href="../static/favicon.png" />
    <script src="../static/lib/jquery.min.js"></script>
    <script src="../static/lib/jquery.flightindicators.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/css/flightindicators.min.css">
    <script src="../static/lib/pixi.min.js"></script>
    <script src="../static/lib/pixi-particles.min.js"></script>
    <script src="../static/js/game.js" type="module"></script>-->
	<title>Plane</title>
</head>
<body>
    <div id="HUD">
        Speed [m/s]: <span id="speed"></span> <br>
        Coords [m]: <span id="altitude"></span> <br>
        Lift [N]: <span id="lift"></span> <br>
        Density [kg/m^3]: <span id="density"></span> <br>
        VSpeed [m/s]: <span id="vSpeed"></span> <br>
        Acc [m/s^2]: <span id="acc"></span> <br>
        Thrust [N]: <span id="thrust"></span> <br>
        Elevator: <span id="elevator"></span>
        
    </div>
    <div id="instruments">
        <div class="slider-wrapper">
            <input type="range" id="thrustSlider" min="0" max="1" value="0" step="0.001"/>
        </div>
        <div class="slider-wrapper">
            <input type="range" id="elevatorSlider" min="-1" max="1" value="0" step="0.001"/>
        </div>
        <br>
        <span id="attitude"></span>
        <span id="heading"></span>
        <span id="variometer"></span>
        <span id="airspeed"></span>
        <span id="altimeter"></span>
    </div>

    <div id="optionsWrapper">
        <div id="optionsbutton">
            <button class="hamburger hamburger--squeeze is-active" type="button" id="toggleOptions">
                <span class="hamburger-box">
                    <span class="hamburger-inner"></span>
                </span>
            </button>
                    
        </div>
        <div id="options" class="expanded">
            <div id="optionsinner">
                <b>Settings</b> <br>
                <div id="configOptions"></div>
                <hr>
                <div id="instructions">
                    <b>Instructions</b> <br>
                    Control the amount of thrust using the up/down arrow keys. <br>
                    Control the flaps/elevator using the left/right arrow keys. <br>
                    The vertical slider shows the engine thrust. <br>
                    The horizontal slider shows the elevator setting (controls the pitch). <br> <br>
                    <b>First time use:</b>
                    <ol>
                        <li>Hold up-arrow until the engine is at max thrust (indicator at lower left corner).</li>
                        <li>Wait for the speed to reach ~250 knots as indicated by the airspeed indicator.</li>
                        <li>Angle the elevators up using left-arrow to take off.</li>
                        <li>Don't crash</li>
                    </ol>
                    <span style="font-size: 14px;color:#555">Disclaimer: The developer takes no responsibility for the abuse of the max thrust setting which may or may not send the plane into space.</span>
                </div>
            </div>
            
        </div>
    </div>

    <div id="largemsg"></div>
</body>
</html>

